@model DataCollectInput<Especialidad>

@{
    ViewData["Title"] = "EspecialidadMant";
}

<partial name="Shared/_EspecialidadMantPop" model="@Model.Input" />

<header class="page-header">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h1 class="separator">Especialidad de Medicos</h1>
            <nav class="breadcrumb-wrapper" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="icon dripicons-home"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Especialidad de Medicos</li>
                </ol>
            </nav>
        </div>
        <ul class="actions top-right">
            <li class="dropdown">
                <a href="javascript:void(0)" class="btn btn-fab" data-toggle="dropdown" aria-expanded="false">
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu dropdown-icon-menu dropdown-menu-right">
                    <div class="dropdown-header">
                        Quick Actions
                    </div>
                    <a href="#" class="dropdown-item">
                        <i class="icon dripicons-clockwise"></i> Refresh
                    </a>
                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">
                        <i class="icon dripicons-plus text-success "></i>Agregar
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="icon dripicons-cloud-download"></i> Export
                    </a>
                    <a href="#" class="dropdown-item">
                        <i class="icon dripicons-help"></i> Support
                    </a>
                </div>
            </li>
        </ul>
    </div>
</header>

@Html.HiddenFor(p => p.Metodo);

<section class="page-content container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Especialidad de la clinica</h5>
                <div class="card-body" id="PostList1">
                    <div class="table-responsive">
                        <partial name="Shared/_EspecialidadMantDat" model="@Model.ListDatos" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/js/MetodosCallSubmit.js"></script>

    <script type="text/javascript">

        $("document").ready(function () {
            $('#bs4-table').DataTable();
        });

        $("#AjaxFormEspec").submit(async function (e) {
                e.preventDefault();

            if (!$("#AjaxFormEspec").valid()) {
               return;
            }

            let post = new AjaxSubmit("@Url.Action("EspecialidadMant", "ConfigAtributo")", "#SubmitBtnEspec", "Error almacenamiento");
            post.btnCancel = "#btnCancelEspec";
            post.partial = "#PostList1";
            post.inputClear = ["#Nombre", "#Descripcion"];

            let dt = ExtraccionDt();
            post.AjaxPop(dt);

         });

        function ExtraccionDt() {

            let DtGnrl = {
                Nombre: $("#Nombre").val(),
                Descripcion: $("#Descripcion").val(),
                Metodo: $("#Metodo").val()
            };

            return DtGnrl;
        }
    </script>
}