@*@model  List<UsuarioViewInput.SucursalAreaAtencion>

 @foreach(UsuarioViewInput.SucursalAreaAtencion _sucursal in Model)
{ 
    <div class="card">
    <h4 class="card-header">@_sucursal.SucursalNom</h4>
    <div class="card-body">
       
    </div>
</div>
}*@ 
